/* Overrides of RCUE variables for the site */

@fa-font-path:                      "../rcue/Font-Awesome/fonts";
@font-path:                         "../rcue/fonts";
@icon-font-path:                    "../rcue/bootstrap/fonts/";
@img-path:                        "../rcue/img";